/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #141e30, #243b55);
}

.todoContainer{
    width: 380px;
    padding: 30px;
    border-radius: 20px;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(12px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.18);
    text-align: center;
}

.todoContainer h1{
    color: #fff;
    margin-bottom: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}

#todoInput{
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.2);
    color: #fff;
    margin-right: 5px;
}

#todoInput::placeholder{
    color: #ddd;
}

#todoBtn{
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background: #00c6ff;
    background: linear-gradient(to right, #0072ff, #00c6ff);
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

#todoBtn:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

#todoList{
    list-style: none;
    margin-top: 20px;
}

#todoList li{
    background: rgba(255,255,255,0.15);
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}


#todoList li:hover{
    background: rgba(255,255,255,0.25);
}

.deleteBtn{
    background: crimson;
    border: none;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
}

.del-btn{
     background: crimson;
     border: none;
     color: white;
     padding: 5px 8px;
     border-radius: 5px;
     cursor: pointer;    
}

.editBtn{
    background: #30c430;
    border: none;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
}

